.bug {
  background-color: #a7b51c;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.dark {
  background-color: #4f3b2f;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}

.dragon {
  background-color: #7660e1;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.electric {
  background-color: #f9cb54;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.fairy {
  background-color: #f1b1f2;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.fighting {
  background-color: #80331a;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.fire {
  background-color: #da7800;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.flying {
  background-color: #92a5f0;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.ghost {
  background-color: #5c5eaf;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.grass {
  background-color: #73bf36;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.ground {
  background-color: #ceae55;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.ice {
  background-color: #6bd3f4;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.normal {
  background-color: #c5beb5;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.poison {
  background-color: #8d428d;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.psychic {
  background-color: #eb457f;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.rock {
  background-color: #b79f54;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.steel {
  background-color: #8f8e9f;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
.water {
  background-color: #0c67c2;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 15px;
}
